body {
    color: black;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "display display display display"
    "clear clear clear divide"
    "seven eight nine multiplication"
    "four five six minus"
    "one two three plus"
    "zer0 zer0 dec equals"
    ;
    height: 600px;
    width: 350px;
    grid-template-rows: [first] 100px;
}

.spacer {
    color: cornsilk;
}

div {
    border-radius: 10px;
    padding: 10px;
    text-align: right;
    text-align: bottom;
}

#display {
    grid-area: display;
    background-color: cornsilk;
    font-size: 24px
}

#clear {
    grid-area: clear;
}

#divide {
    grid-area: divide;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#multiply {
    grid-area: multiplication;
    
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#minus {
    grid-area: minus;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#plus {
    grid-area: plus;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#zer0 {
    grid-area: zer0;
}

#decimal {
    grid-area: dec;
}

#equals {
    grid-area: equals;
}

#divide, #multiply, #plus, #minus, #equals{
    background-color: yellow;
    font-size: 20px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zer0, #decimal {
    background-color: grey;
    font-size: 20px
}

#clear {
    background-color: darkgrey;
    font-size: 20px;
}

